.full-page {
  padding: 5px;

  .element-wrapper {
    padding: 20px;

    .title {
      font-size: 16px;
      font-weight: 700;
    }

    .box {
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin-top: 15px;
      /* margin-top to create blank space between  Personal Info text and box element. I could do it using flex-direction: column & gap but thought it's easier using margin-top*/
      gap: 15px;
      width: 400px;
      background-color: rgb(236, 236, 236);

      .data-line {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon-style {
          height: 20px;
          width: 20px;
        }

        .data-line-wrapper {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }

      .divider {
        width: 100%;
        background-color: rgb(36, 36, 36);
        height: 1px;
      }

      .extended-divider {
        display: flex;
        align-items: center;
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
        background-color: rgb(36, 36, 36);
        height: 1px;
      }

      .bottom-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: white;
        background-color: rgb(249, 79, 79);
        border-radius: 10px;
        line-height: 35px;
      }
    }
  }
}
